.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* stylelint-disable-next-line selector-class-pattern */
.storybook-button--primary {
  background-color: #555ab9;
  color: white;
}

/* stylelint-disable-next-line selector-class-pattern */
.storybook-button--secondary {
  box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
  background-color: transparent;
  color: #333;
}

/* stylelint-disable-next-line selector-class-pattern */
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}

/* stylelint-disable-next-line selector-class-pattern */
.storybook-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

/* stylelint-disable-next-line selector-class-pattern */
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
